<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldsky.ssp.iris">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="GoldSky Iris"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SSP">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.goldsky.ssp.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- New Splash Screen as the main LAUNCHER -->
        <activity
            android:name="com.goldsky.ssp.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SSP.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.goldsky.ssp.ui.AdActivity"
            android:exported="false"
            android:theme="@style/Theme.SSP.Fullscreen" />

        <activity
            android:name="com.goldsky.ssp.ui.VipActivity"
            android:exported="false"
            android:theme="@style/Theme.SSP.Fullscreen" />

    </application>
</manifest>
